<<<<<<< HEAD
<<<<<<< HEAD
<html>
=======

<html lang="en">
>>>>>>> assignment-4
=======
<html lang="en">

>>>>>>> 2caaf9f9ed0df2c72a8a931095e5bf571b3f9228
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>
    <h2>About Us</h2>
    <p>Reddit-like web application we affectionately call Bloccit.</p>
    <% include ./partials/baseScripts.ejs %>
  </body>

</html>
